<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="MyBinding" clientBaseAddress="http://localhost:18801/calculatecallback"></binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://localhost:8888/calculatorservice" binding="basicHttpBinding" contract="Contracts.ICalculator" name="selfHostEndpoint_http"></endpoint>-->
      <!--<endpoint address="net.tcp://localhost:9999/calculatorservice" binding="netTcpBinding" contract="Contracts.ICalculator" name="selfHostEndpoint_tcp"></endpoint>-->
      <!--<endpoint address="http://localhost:49804/CalculatorService.svc" binding="basicHttpBinding" contract="Contracts.ICalculator" name="iisHostEndpoint"></endpoint>-->
      <endpoint address="http://localhost:9999/calculatorservice" binding="wsDualHttpBinding" bindingConfiguration="MyBinding" contract="Contracts.ICalculator" name="selfHostEndpoint_tcp"></endpoint>
    </client>
  </system.serviceModel>
</configuration>