<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="msmqPath" value=".\private$\orderresponse"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="MsmqBinding" exactlyOnce="false" useActiveDirectory="false">
          <security>
            <transport msmqAuthenticationMode="None" msmqProtectionLevel="None"/>
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>

    <client>
      <endpoint address="net.msmq://localhost/private/orderprocessor" 
                binding="netMsmqBinding"
                bindingConfiguration="MsmqBinding"
                contract="ResponsiveQueuedService.Contract.IOrderProcessor"
                name="defaultEndpoint"></endpoint>
    </client>
  </system.serviceModel>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>