<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="msmqBinding">
          <security>
            <transport msmqAuthenticationMode="None" msmqProtectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>

    <services>
      <service name="QueuedService.Service.OrderProcessorService">
        <endpoint address="net.msmq://localhost/private/orders" 
                  binding="netMsmqBinding"
                  bindingConfiguration="msmqBinding"
                  contract="QueuedService.Contract.IOrderProcessor"></endpoint>
      </service>
    </services>
  </system.serviceModel>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>