<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="msmqPath" value=".\private$\orderprocessor"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="MsmqBinding" exactlyOnce="false" useActiveDirectory="false">
          <security>
            <transport msmqAuthenticationMode="None" msmqProtectionLevel="None"/>
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>

    <services>
      <service name="ResponsiveQueuedService.Service.OrderProcessorService">
        <endpoint address="net.msmq://localhost/private/orderprocessor"
                  binding="netMsmqBinding"
                  bindingConfiguration="MsmqBinding"
                  contract="ResponsiveQueuedService.Contract.IOrderProcessor"></endpoint>
      </service>
    </services>
  </system.serviceModel>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>