<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="cultureSettingBehavior">
          <cultureSettingElement></cultureSettingElement>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="cultureSettingElement" type="CallContextInitializers.CultureSettingBehaviorElement, CallContextInitializers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="Messages.Service.MessageService">
        <endpoint behaviorConfiguration="cultureSettingBehavior"
                  binding="basicHttpBinding" 
                  contract="Messages.Contract.IMessage"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1/messageservice"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>