<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service behaviorConfiguration="CalculatorBehavior" name="SessionfulCalculator.Service.CalculatorService">
        <endpoint binding="wsHttpBinding" contract="SessionfulCalculator.Contract.ICalculator"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9999/SessionfulCalculator"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>