<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://127.0.0.1/messageservice" 
                binding="basicHttpBinding"
                contract="Messages.Contract.IMessage"
                name="messageservice"></endpoint>
    </client>
  </system.serviceModel>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>