<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration "/>
  </configSections>
  <unity>
    <containers>
      <container name="wcfservice">
         <register type="UnityInstanceProvider.Messages.Service.IMessageManager, UnityInstanceProvider.Messages.Service" 
                   mapTo="UnityInstanceProvider.Messages.Service.MessageManager, UnityInstanceProvider.Messages.Service"></register>
         <!--<register type="UnityInstanceProvider.Messages.Contract.IMessage, UnityInstanceProvider.Messages.Contract"
                   mapTo="UnityInstanceProvider.Messages.Service.MessageService, UnityInstanceProvider.Messages.Service"></register>-->
      </container>
    </containers>
  </unity>
  
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="UnityBehavior">
          <unityBehaviorExtension containerName ="wcfservice"></unityBehaviorExtension>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="unityBehaviorExtension" type="UnityInstanceProvider.WCFExtensions.UnityBehaviorElement, UnityInstanceProvider.WCFExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>

    <services>
      <service name="UnityInstanceProvider.Messages.Service.MessageService">
        <endpoint behaviorConfiguration="UnityBehavior" 
                  binding="basicHttpBinding" 
                  contract="UnityInstanceProvider.Messages.Contract.IMessage">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8888/messageservice"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>